table.table.table-striped.index
  tr
    th
      = t('activerecord.models.library')
    th
      = t('activerecord.models.shelf')
    - CheckoutType.order(:position).each do |checkout_type|
      th
        = checkout_type.display_name
    th
      = t('page.total')
  - Library.order(:position).each do |library|
    - library.shelves.order(:position).each do |shelf|
      tr
        td
          = library.display_name
        td
          = shelf.display_name
        - CheckoutType.order(:position).each do |checkout_type|
          td
            = @checkout_type_results[[shelf.id, checkout_type.id]]
        td
          = @checkout_type_results.select{|r| r[0] == shelf.id}.sum{|k, v| v}
  tr
    td[colspan="2"]
      = t('page.unknown')
      - CheckoutType.order(:position).each do |checkout_type|
        td
          = @checkout_type_results[[nil, checkout_type.id]]
    td
      = @checkout_type_results.select{|r| r[0].nil?}.sum{|k, v| v}
  tr
    th[colspan="2"]
      = t('page.total')
    - CheckoutType.order(:position).each do |checkout_type|
      td
        = @checkout_type_results.select{|r| r[1] == checkout_type.id}.sum{|k, v| v}
    td
      = @checkout_type_results.sum{|k, v| v}
